html{
	background: #1d243e!important;
}
body{
	background: #1d243e!important;
}
.home-title{
	font-family: 'Graduate', cursive!important;
	color: #fac710!important;
	font-size: 60px;
}
.welcome-text-div{
	margin-top: 20%!important;
}
.sub-title{
	color: white!important;
	font-weight: normal!important;
	margin-left: 5px!important;
	font-family: 'Inter', sans-serif;
	margin-top: 10px;
}
.logo-div{
	margin-top: 30%;
}
.logo-giis{
	width: 180px;
}
.sign-up-box{
	width: 480px;
	height: 600px;
	background: white;
	margin-top: 10%;
	border-radius: 10px;
}
.termsandconditions-div{
	display: inline-flex!important;

}
.text-input{
	width: 90%!important;
	height: 50px;
	margin-top: 15px;

}
.sign-up-title{
  margin-left: 25px;
  margin-top: 10px!important;
  margin-bottom: 20px!important;
  font-weight: 600!important;
  color: black!important;
}
.signup-btn{
	width: 90%;
    background: #1d243e!important;
    height: 50px;
    font-size: 16px!important;
    text-transform: capitalize!important;
    font-weight: 600!important;
    color: white!important;

}


	.iti__selected-flag{
	background: #ededf1!important;

	}

	.iti--separate-dial-code{
	    width: 100%;
	    margin-top: 10px;
	    font-size: 15px;
	    border-radius: 10px!important;
	}
	.iti__flag-container{
	    border-radius: 10px!important;
	    height:60px!important;	   
	    height:45px!important;
	    margin-left: 5%;
	    margin-top: 3px;
	}


	.iti{
	    width: 100%!important;

	}